.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header h1 {
  font-size: 48px;
  font-weight: lighter;
}
.fourRows {
  display: flex;
  gap: 34px;
  margin-bottom: 30px;
}
.miniCard {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  padding: 20px 0 0 30px;
}
.threeRows {
  background-color: #fff;
  display: flex;
  width: 100%;
  gap: 35px;
}
.smallCard {
  display: flex;
  flex-direction: column;
  width: 415px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bigCard {
  background-color: antiquewhite;
  width: 450px;
  display: flex;
  justify-content: space-around;
}

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

.pie {
  --p: 90;
  --b: 8px;
  --c: darkred;
  --w: 100px;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 12px;
  font-weight: bold;
}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b)
      var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p) * 1%), #0000 0);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
  mask: radial-gradient(
    farthest-side,
    #0000 calc(99% - var(--b)),
    #000 calc(100% - var(--b))
  );
}
.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg))
    translateY(calc(50% - var(--w) / 2));
}
.animate {
  animation: p 1s 0.5s both;
}
.no-round:before {
  background-size: 0 0, auto;
}
.no-round:after {
  content: none;
}
@keyframes p {
  from {
    --p: 0;
  }
}

.daigramsContainer {
  padding: 42px 27px 37px 37px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.diagram {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diagramLegend {
  text-align: right;
  font-size: 22px;
}
.summaryHeader {
  font-size: 22px;
  padding: 32px 0 32px 42px;
  border-bottom: 1px solid #e9ebef;
}

.ordersLine {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.ordersContainer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.headerLine {
  display: flex;
  justify-content: space-around;
}
.infoLine {
  display: flex;
  justify-content: space-around;
}

.order {
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price {
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tax {
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer {
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.driver {
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders {
  display: flex;
  flex-direction: column;
}

.prices {
  display: flex;
  flex-direction: column;
}

.taxes {
  display: flex;
  flex-direction: column;
}
.customers {
  display: flex;
  flex-direction: column;
}
.drivers {
  display: flex;
  flex-direction: column;
}

.statValue {
  font-size: 48px;
  margin-bottom: 38px;
}
.statName {
  font-size: 15px;
  color: #8a8f97;
  margin-bottom: 28px;
}
.icon {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  margin-bottom: 24px;
}
