.tab {
  overflow: hidden;
  background-color: transparent;
  max-width: 1415px;
}

.tab button {
  border: 1px solid #ccc;
  background-color: #f9fafd;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 30px;
  transition: 0.3s;
  border-radius: 6px 6px 0 0;
  border-bottom: none;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  color: #848a94;
}

.tab button:not(:last-child) {
  border-right: none;
}

.tab button:hover {
}

.tab button.active {
  background-color: #fff;
  transition: 0.3s;
  color: #000;
}

.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  max-width: 1415px;
}

.tabcontent.hidden {
  display: none;
}

.indicator {
  font-size: 12px;
  margin-left: 10px;
  padding: 2px 10px;
  background-color: #f3f5fa;
  border-radius: 6px;
  color: #848a94;
  transition: 0.3s;
}

.indicator.active {
  background-color: #116faf;
  border-radius: 6px;
  color: #fff;
  transition: 0.3s;
}

.orders {
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 23px 48px 20px 48px;
  border: 1px solid #e9ebef;
  border-radius: 5px;
  transition: background-color 0.5s;
  font-weight: bold;
  font-size: 15px;
}
.orders:hover {
  background-color: #e9ebef;
  border: 1px solid #e9ebef;
  transition: 0.5s;
  cursor: pointer;
}
.phone {
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a9097;
  font-weight: normal;
  font-size: 14px;
}

.name {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}



.headers {
  text-transform: uppercase;
  color: #b9bdc1;
  margin: 64px 0 8px 0;
}

table {
  width: 100%; /* Задаем ширину таблицы на 100% */
  border-collapse: collapse; /* Объединяем границы ячеек */
}

tr {
  display: flex;
  justify-content: space-around;
  padding: 22px 0 22px 0;
  border-bottom: 1px solid #e9ebef;
  align-items: center;
}

/* Я не знаю почему, но без этого все криво */
tbody tr:nth-child(1) {
  border-bottom: 1px solid #e9ebef;
  padding: 22px 0 22px 0;
}

.headers:nth-child(1) {
  width: 22px;
}
.headers:nth-child(2) {
  width: 190px;
}
.headers:nth-child(3) {
  width: 218px;
}
.headers:nth-child(4) {
  width: 35px;
}
.headers:nth-child(5) {
  width: 138px;
}
.headers:nth-child(6) {
  width: 85px;
}
.headers:nth-child(7) {
  width: 145px;
}

.checkbox {
}
.tableBlock {
  background-color: #fff;
  border-radius: 10px;
  max-height: 725px;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 28px;
  align-items: center;
}
.header h1 {
  font-size: 48px;
  font-weight: lighter;
}



.miniHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.miniHeader h2 {
  margin: 30px;
  font-size: 22px;
}
.events {
  margin: 30px 0 30px 0;
}
.events {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 8px 20px 8px 20px;
  border: 1px solid #e9ebef;
  border-radius: 5px;
  transition: background-color 0.5s;
  font-weight: bold;
  font-size: 15px;
}
.events:hover {
  background-color: #e9ebef;
  border: 1px solid #e9ebef;
  transition: 0.5s;
  cursor: pointer;
}

.driverInfo {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
.driver {
  display: flex;
  align-items: center;
  justify-content: center;
}




.price {
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #2460b2;
  font-weight: bold;
  font-size: 15px;
}
.rethingNum {
  font-size: 18px;
  color: #000;
}
.text {
  font-size: 15px;
  color: #8a9097;
  font-weight: normal;
}
.highlightText {
  color: #000;
  font-weight: bold;
  font-size: 15px;
}
.position {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #46BD90;
  border-radius: 6px;
  padding: 10px 25px;
  transition: background-color .5s, color .5s;
}
.position span{
  margin-left: 10px;
}
.position:hover {
  background-color: #46BD90;
  cursor: pointer;
  transition: background-color .5s, color .5s;
  color: #fff;
}

.position:hover svg path {
  fill: #fff; /* Изменяем fill для всех path внутри SVG при наведении на кнопку */
  transition: fill 0.5s; 
}
.position svg path {
  transition: fill 0.5s; 
}
.buttons {
  display: flex;
  gap: 20px;
}

.week {
  margin: 30px 0 30px 0;
}
.week {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 8px 20px 8px 20px;
  border: 1px solid #e9ebef;
  border-radius: 5px;
  transition: background-color 0.5s;
  font-weight: bold;
  font-size: 15px;
}
.week:hover {
  background-color: #e9ebef;
  border: 1px solid #e9ebef;
  transition: 0.5s;
  cursor: pointer;
}
.ratingSec {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.rathingStars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}