/* CSS RESET */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/circe.eot"); /* IE 9 Compatibility Mode */
  src: url("./fonts/circe.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("./fonts/circe.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/circ.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */ url("./fonts/circe.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/circe.svg#circe") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: normal;
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/circe_bold.eot"); /* IE 9 Compatibility Mode */
  src: url("./fonts/circe_bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("./fonts/circe_bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/circ_bold.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */ url("./fonts/circe_bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/circe_bold.svg#circe") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: bold;
}

@font-face {
  font-family: "Circe";
  src: url("./fonts/circe_light.eot"); /* IE 9 Compatibility Mode */
  src: url("./fonts/circe_light.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("./fonts/circe_light.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/circ_light.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */ url("./fonts/circe_light.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/circe_light.svg#circe") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: lighter;
}
body {
  font-family: "Circe", sans-serif;
  font-size: 11px;
}
body::-webkit-scrollbar {
  width: 10px; /* Ширина всего элемента навигации */
}

body::-webkit-scrollbar-track {
  background: #F3F5FA; /* Цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: #BAC4DC; /* Цвет бегунка */
  border-radius: 10px; /* Округление бегунка */

}
/* 
body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
  border-radius: 10px;

} */